@import "tailwindcss";
* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}
.todo-item {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 0.5s ease-out forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutAndShrink {
  0% {
    opacity: 1;
    transform: scale(1);
    max-height: 100px; /* یا جو بھی approximate زیادہ سے زیادہ height ہو */
    margin: 10px 0;
    padding: 10px;
  }
  50% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
    max-height: 0;
    margin: 0;
    padding: 0;
  }
}

.fade-out {
  overflow: hidden; 
  animation: fadeOutAndShrink 0.5s forwards ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out forwards;
}

.animate-slideOut {
  animation: slideOut 0.4s ease-out forwards;
}
